<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="landing\style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Leetcode Ranklist</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="https://utkarshkanswal.github.io/My-Portfolio/">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="search">
            <form action="">
                <input type="text" id="first" placeholder="Enter a username to search">
                <select id="second" name="second">
                    <option value="2016">2020</option>
                    <option value="2015">2019</option>
                    <option value="2014">2018</option>
                    <option value="2013">2017</option>
                    <option value="2013">2016</option>
                    <option value="2013">2015</option>
                </select>
                <button id="third">Apply</button>
            </form>
        </div>
        <div class="toprow">
            <div id="box1"><a href="">Rank</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box2"><a href="">Username</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box2"><a href="">Batch</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box2"><a href="">Ranking</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box2"><a href="">Contribution Point</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box2"><a href="">Acceptance Rate</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
            <div id="box3"><a href="">Question Solved</a> <i class="fas fa-arrow-down" id="arrow"></i></div>
        </div>
        <% for(let i=0;i<arr.length;i++){ %>
        <div class="newUser">
            <div id="boxr"><a href="https://leetcode.com/${arr[i].username}/"><%=i+1%></a></div>
            <div id="boxu"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].username%></a></div>
            <div id="boxu"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].Year%></a></div>
            <div id="boxu"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].ranking%> </a></div>
            <div id="boxu"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].contribution_points%></a></div>
            <div id="boxu"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].acceptance_rate%></a></div>
            <div id="boxn"><a href="https://leetcode.com/${arr[i].username}/"><%=arr[i].total_problems_solved%></a>
            </div>
        </div>
        <% } %>
    </div>

    <div class="adduser">
        <a href="adduser">Click Here to add User</a>
    </div>
    <script src="landing\index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>

</html>